<!DOCTYPE html>
<html lang="en">
	<head>
        {% block title %}<title>Taxi conventionné</title>{% endblock %}
        {# {% include "QWTaxiBundle:Default:includes/header.html.twig" %} #}
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="{{ asset('bundles/qwtaxi/booking/css/booking.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/qwtaxi/css/camera.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/qwtaxi/css/owl.carousel.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/qwtaxi/css/style.css') }}">
		<link rel="stylesheet" media="screen" href="{{ asset('bundles/qwtaxi/css/superfish.css') }}">

		<script src="{{ asset('bundles/qwtaxi/js/jquery.js') }}"></script>
		<script src="{{ asset('bundles/qwtaxi/js/jquery-migrate-1.2.1.js') }}"></script>
		<script src="{{ asset('bundles/qwtaxi/js/script.js') }}"></script>
		<script src="{{ asset('bundles/qwtaxi/js/superfish.js') }}"></script>
		<script src="{{ asset('bundles/qwtaxi/js/jquery.ui.totop.js') }}"></script>
		<script src="{{ asset('bundles/qwtaxi/js/jquery.equalheights.js') }}"></script>
		<script src="{{ asset('bundles/qwtaxi/js/jquery.mobilemenu.js') }}"></script>
		<script src="{{ asset('bundles/qwtaxi/js/jquery.easing.1.3.js') }}"></script>
		<script src="{{ asset('bundles/qwtaxi/js/owl.carousel.js') }}"></script>
		<script src="{{ asset('bundles/qwtaxi/js/camera.js') }}"></script>
		<!--[if (gt IE 9)|!(IE)]><!-->
		<script src="{{ asset('bundles/qwtaxi/js/jquery.mobile.customized.min.js') }}"></script>
		<!--<![endif]-->
		<script src="{{ asset('bundles/qwtaxi/booking/js/booking.js') }}"></script>

		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function(){
				jQuery('#camera_wrap').camera({
					loader: false,
					pagination: false ,
					minHeight: '444',
					thumbnails: false,
					height: '28.28125%',
					caption: true,
					navigation: true,
					fx: 'mosaic'
				});
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<!--[if lt IE 8]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				</a>
			</div>
			<![endif]-->
		<!--[if lt IE 9]>
			<script src="{{ asset('bundles/qwtaxi/js/html5shiv.js') }}"></script>
			<link rel="stylesheet" media="screen" href="{{ asset('bundles/qwtaxi/css/ie.css') }}">
		<![endif]-->
	</head>
	<body class="page1" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="menu_block ">
					<div class="container_12">
						<div class="grid_12">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li class="current"><a href="index">Accueil</a></li>
									<li><a href="about">About</a></li>
									<li><a href="cars">Cars</a></li>
									<li><a href="services">Prestations</a></li>
									<li><a href="contact">Contacts</a></li>
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="container_12">
					<div class="grid_12">
						<h1>
							<a href="index">
								Taxidir<br />
								Taxi conventionné CPAM<br />
								à Chelles (77)
							</a>
						</h1>
					</div>
				</div>
				<div class="clear"></div>
			</header>

			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->

				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active"> <img src="{{ asset('bundles/qwtaxi/images/taxi-nuit-jour.jpg') }}" style="width:100%" alt="First slide">
						<div class="container">
							<div class="carousel-caption">
								<h2>Taxi conventionné</h2>
								<p>Aenean a rutrum nulla. Vestibulum a arcu at nisi tristique pretium.</p>
								<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
							</div>
						</div>
					</div>
					<div class="item"> <img src="{{ asset('bundles/qwtaxi/images/taxi-aeroport-ile-de-france.jpg') }}" style="width:100%" data-src="" alt="Second    slide">
						<div class="container">
							<div class="carousel-caption">
								<h2>Slide 2</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae egestas purus. </p>
								<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
							</div>
						</div>
					</div>
					<div class="item"> <img src="{{ asset('bundles/qwtaxi/images/taxi-visite-paris.jpg') }}" style="width:100%" data-src="" alt="Third slide">
						<div class="container">
							<div class="carousel-caption">
								<h2>Slide 3</h2>
								<p>Donec sit amet mi imperdiet mauris viverra accumsan ut at libero.</p>
								<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
							</div>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<div class="container_12">
				<div class="grid_4">
					<div class="banner">
						<div class="maxheight">
							<div class="banner_title">
								<img src="{{ asset('bundles/qwtaxi/images/icon1.png') }}" alt="">
								<div class="extra_wrapper">Fast&amp;
									<div class="color1">Safe</div>
								</div>
							</div>
							Dorem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras facilisis, nulla vel viver auctor, leo magna sodales felis, quis malesuad
							<a href="" class="fa fa-share-square"></a>
						</div>
					</div>
				</div>
				<div class="grid_4">
					<div class="banner">
						<div class="maxheight">
							<div class="banner_title">
								<img src="{{ asset('bundles/qwtaxi/images/icon2.png') }}" alt="">
								<div class="extra_wrapper">Best
									<div class="color1">Prices</div>
								</div>
							</div>
							Hem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras facilisis, nulla vel viver auctor, leo magna sodales felis, quis malesuader
							<a href="" class="fa fa-share-square"></a>
						</div>
					</div>
				</div>
				<div class="grid_4">
					<div class="banner">
						<div class="maxheight">
							<div class="banner_title">
								<img src="{{ asset('bundles/qwtaxi/images/icon3.png') }}" alt="">
								<div class="extra_wrapper">Package
									<div class="color1">Delivery</div>
								</div>
							</div>
							Kurem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras facilisis, nulla vel viver auctor, leo magna sodales felis, quis malesuki
							<a href="" class="fa fa-share-square"></a>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="c_phone">
				<div class="container_12">
					<div class="grid_12">
						<div class="fa fa-phone"></div>07 69 31 87 78
						<span>Appellez maintenant!</span>
					</div>
					<div class="clear"></div>
				</div>
			</div>
<!--==============================Content=================================-->
			<div class="content">
				<div class="container_12">
					<div class="grid_5">
						<h3>Booking Form</h3>
						<form id="bookingForm">
							<div class="fl1">
								<div class="tmInput">
									<input name="Name" placeHolder="Name:" type="text" data-constraints='@NotEmpty @Required @AlphaSpecial'>
								</div>
								<div class="tmInput">
									<input name="From" placeHolder="From:" type="text" data-constraints="@NotEmpty @Required ">
								</div>
							</div>
							<div class="fl1">
								<div class="tmInput">
									<input name="Email" placeHolder="Email:" type="text" data-constraints="@NotEmpty @Required @Email">
								</div>
								<div class="tmInput mr0">
									<input name="To" placeHolder="To:" type="text" data-constraints="@NotEmpty @Required">
								</div>
							</div>
							<div class="clear"></div>
							<strong>Time</strong>
							<div class="tmInput">
								<input name="Time" placeHolder="" type="text" data-constraints="@NotEmpty @Required">
							</div>
							<div class="clear"></div>
							<strong>Date</strong>
							<label class="tmDatepicker">
								<input type="text" name="Date"	placeHolder='20/05/2014' data-constraints="@NotEmpty @Required @Date">
							</label>
							<div class="clear"></div>
							<div class="tmRadio">
								<p>Comfort</p>
								<input name="Comfort" type="radio" id="tmRadio0" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' checked/>
								<span>Cheap</span>
								<input name="Comfort" type="radio" id="tmRadio1" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' />
								<span>Standart</span>
								<input name="Comfort" type="radio" id="tmRadio2" data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' />
								<span>Lux</span>
							</div>
							<div class="clear"></div>
							<div class="fl1 fl2">
								<em>Adults</em>
								<select name="Adults" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
									<option>1</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
								</select>
								<div class="clear height1"></div>
							</div>
							<div class="fl1 fl2">
								<em>Children</em>
								<select name="Children" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="">
									<option>0</option>
									<option>0</option>
									<option>1</option>
									<option>2</option>
								</select>
							</div>
							<div class="clear"></div>
							<div class="tmTextarea">
								<textarea name="Message" placeHolder="Message" data-constraints='@NotEmpty @Required @Length(min=20,max=999999)'></textarea>
							</div>
							<a href="" class="btn" data-type="submit">Submit</a>
						</form>
					</div>
					<div class="grid_6 prefix_1">
						<a href="index2.html" class="type"><img src="{{ asset('bundles/qwtaxi/images/page1_img1.jpg') }}" alt=""><span class="type_caption">Economy</span></a>
						<a href="index2.html" class="type"><img src="{{ asset('bundles/qwtaxi/images/page1_img2.jpg') }}" alt=""><span class="type_caption">Standard</span></a>
						<a href="index2.html" class="type"><img src="{{ asset('bundles/qwtaxi/images/page1_img3.jpg') }}" alt=""><span class="type_caption">Lux</span></a>
					</div>
					<div class="clear"></div>
				</div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d674384.7486153621!2d1.9408111700524344!3d48.68033373903057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5e1c403a68c17%3A0x10b82c3688b2570!2s%C3%8Ele-de-France%2C+France!5e0!3m2!1sfr!2sus!4v1504907414142" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_phone"><span>Contactez nous :</span>07 69 31 87 78</div>
					<div class="socials">
						<a href="https://plus.google.com/share?url=ICI-LE-LIEN&hl=fr" class="fa fa-twitter"></a>
						<a href="http://www.facebook.com/sharer.php?u=http://VotreURL.com&t=Votre%20message%20ici." class="fa fa-facebook"></a>
						<a href="https://plus.google.com/share?url=ICI-LE-LIEN&hl=fr" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						<div class="st1">
						<div class="brand">Tour<span class="color1">T</span>axi </div>
						&copy; 2014	| <a href="">Privacy Policy</a> </div> Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
		<script>
			$(function (){
				$('#bookingForm').bookingForm({
					ownerEmail: '#'
				});
                jQuery('ul.sf-menu').superfish();
			})
			$(function() {
				$('#bookingForm input, #bookingForm textarea').placeholder();
			});
		</script>
	</body>
</html>