<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="tel:+33769318778">Taxidir <img src = "{{ asset('bundles/qwpresentation/img/tel-taxidir.png') }}" alt="" title=""/> 07 69 31 87 78</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('qw_presentation_homepage') }}">Votre taxi conventionné </a></li>
                <li><a href="{{ path('qw_presentation_about') }}">Prestations</a></li>
                <li><a href="{{ path('qw_presentation_zone') }}">Zone d'intervention</a></li>
                <li><a href="{{ path('qw_presentation_contact') }}">Contactez votre taxi</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>